@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body, div, form, input, label, button{
    display: flex;

}

body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

div.container1{
    height: 100vh;
    width: 50%;
    background-image: url("/images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
}

div.logo-container{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    height: 30vh ;
    margin-top: 20vh;
    width: 100%;
    /*align-items: center;
    justify-content: center;*/
}



div.logo-container h1, img{
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
}

.logo{
    height: 100px;
    width: auto;
}

div.container2{
    display: flex;
    flex-direction: column;
}

div.container2 > div{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

div.container2 > div.signup-form{
    padding: 0px;
}

div.logo-container{
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

form{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 0px 15px grey;
    padding: 20px;
    width: 100%;
}

form > div{
    flex-direction: column;
    margin: 10px;
}

.btn{
    background-color: #308c33;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Ubuntu', 'BBH Bartle', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}